POSTGRES_PASSWORD=siteops_dev_change
PGADMIN_DEFAULT_EMAIL=admin@siteops.vn
PGADMIN_DEFAULT_PASSWORD=change_this_pgadmin_password
PGADMIN_PORT=5051
PAGESPEED_API_KEY=
SCAN_INTERVAL_MINUTES=360
WORDPRESS_CREDENTIALS_KEY=replace_with_a_long_random_secret
